<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{project.edit.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{project.edit.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/projects}" th:text="#{project.edit.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('project')}" />
            <form th:action="${T(it.rock.rock_app.util.WebUtils).getRequest().requestURI}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='project', field='description')}" />
                <div th:replace="~{fragments/forms::inputRow(object='project', field='tasks', type='multiselect')}" />
                <input type="submit" th:value="#{project.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
